.imageContainer {
  position: relative;
}

/* main image */
.backgroundImage {
  width: 100vw;
  height: 50vw;
  display: block;
}

.bodyRow{

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.257) 0%, rgba(0, 0, 0, 0.706) 100%); /* Adjust gradient as needed */
}

.title {
  position: absolute;
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 5.5vw;
  text-align: center; 
  white-space: nowrap;
}

/* button */
.buttonContainer {
  position: absolute;
  bottom: 20vh; /* Adjust bottom position as needed */
  left: 50%;
  transform: translateX(-50%);
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
  gap: 20px; /* Add gap between grid items */
  width: 80%;
  align-items: center;
}

.button {
  margin: 0 10px; /* Adjust margin between buttons as needed */
  padding: 45px 20px;
  font-size: 30px;
  background-color: #0000005e; /* Adjust background color as needed */
  color: #FFFFFF; /* Adjust text color as needed */
  border: 2px solid #FFFFFF;
  cursor: pointer;
  font-family: 'Jura Bold', sans-serif;
  text-decoration: none; /* Remove underline */
  outline: none; /* Remove outline on click */
}

.button:hover {
  color: #000000;
  background-color: #ccccccaf; /* Adjust background color on hover as needed */
}

.mainTexts {
  margin-top: -50px; /* Adjust this value as needed */
  padding-top: 110px;
  left: 0;
  padding-left: 20px;
  text-align: left;
}

.description a{
  text-decoration: underline;
  color: var(--white);
}
.description a:visited{
  text-decoration: underline;
  color: var(--white);
}
.description a:hover{
  text-decoration: underline;
  color: var(--blue);
  background-color: var(--black);
}

.bodyContainer {
  margin-left: 5%;
  margin-right: 5%;
}
.subTitle {
  margin-top: 5px;
  margin-bottom: 12px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
  .title {
    top: 30%;
    transition: top 0.5s ease;
  }
  
  .buttonContainer {
    grid-template-columns: repeat(2, 1fr); /* Change to two columns */
    bottom: 2vh;
    transition: top 0.5s ease;
  }
  .button {
    padding: 22.5px 10px;
    font-size: 14px;
    transition: top 0.5s ease;
  }
}

.bodyRow{
  padding-top:50px;
  display: flex;
  flex-direction: row;
}
.logos img{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  max-height:10%;
  max-width:80%;
}
