@font-face {
  font-family: 'Jura Bold';
  src: url('/jura/JuraDemiBold.ttf') format('truetype');
  /* Add additional font properties as needed */
}
@font-face {
  font-family: 'Jura Regular';
  src: url('/jura/JuraLight.ttf') format('truetype');
  /* Add additional font properties as needed */
}
@font-face {
  font-family: 'Forum';
  src: url('/forum/Forum-Regular.otf') format('truetype');
  /* Add additional font properties as needed */
}

:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #365d90;
}

a:hover{
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

html, body {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 1px;
  margin: 1px;
  font-family:
    var(--font-jura),
    var(--font-forum);
  line-height: 1.2;
  background-color: var(--black);
  text-align: center;
}

h1{ /* Large titles */
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 50px;
    color: var(--white);
    font-family: 'Jura Bold', sans-serif;
}

h2{ /* Section titles */
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 40px;
    color: var(--white);
    font-family: 'Jura Regular', sans-serif;
}

h3{ /* Big font for regular */
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 32px;
    color: var(--white);
    font-family: 'Jura Regular', sans-serif;
}

p{ /* text info */
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 24px;
    color: var(--white);
    font-family: 'Forum',sans-serif;
}