.nav {
  position: sticky;
  left: 0%;
  top: 0%;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.bar-text {
  font-size: 18px;
}

.logo {
  object-fit: contain;
  display: block;
  margin-top: 15px;
  margin-bottom: 13px;
  margin-left: 5%;

  width: 500px;
  height: auto;
}

@media only screen and (max-width: 1100px) {
  .logo {
    width: 385px;
    height: auto;
  }
}


.horizontal-wrapper {
  display: flex;
  flex-direction: row;
}
.horizontal-list {
  display: flex;
  flex-direction: row;
  width: 100%;

  list-style-type: none;
  margin-right: 5%;
  align-items: center;
  justify-content: right;
}
.horizontal-list li {
  margin: 0px 8px 0px 8px;
}
.horizontal-link {
  text-decoration: none;
  font-size: 18px;
}


.vertical-close {
  display: flex;
  flex-direction: row;
}
.vertical-open {
  display: flex;
  flex-direction: column;
}
.vertical-list {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
.vertical-list li {
  margin: 5px 8px 5px 8px;
}
.vertical-link {
  text-decoration: none;
}

.menu-header {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin: 0%;
  padding: 0%;
}

.collapse-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: 15px;
}

.collapse-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

.navbar-text {
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;

  border-radius: 10px;
}

.navbar-text:hover {
  background: rgb(20,110,221);
  background: radial-gradient(ellipse, rgba(20,110,221,1) 10%, rgba(13,61,190,1) 26%, rgba(11,34,154,1) 48%, rgba(0,0,0,1) 85%);
}
