.body{
  padding-top:0%;
}
.title{
  padding-top:50px;
  padding-bottom:30px;
}

.showings_list.h3{
  font-family: 'Forum', sans-serif;
}
.intro{
  padding-left:15%;
  padding-right:15%;
  padding-bottom:50px;
}
.showings_title{
}
.showings_list{
  padding-left:20px;
  padding-right:20px;
}

@media only screen and (min-width: 1350px) {
  .movie_row{
  padding-top:50px;
  display: flex;
  flex-direction: row;
  }

  .movie_poster{
  padding-left:5%;
  width: 50%;
  }

  .showings{
  padding-top:50px;
  width: 50%;
  padding-right:5%;
  }
}

@media only screen and (max-width: 1349px) { 
  .movie_poster{
    padding-top:50px;
  }
  .showings{
    padding-top:50px;
  }
}

